ion-title{
  font-weight: bold;
}

#legal{
  max-width: 100%;
}


ion-slides {
  height: 90vh;
}

ion-slide{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

ion-slide p{
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(0, 0, 0);
}
