<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="showTab1()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>
      <div class="Ion-wrap-text">Técnica Pomodoro</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">

      <ion-slide>
        <img src="/assets/tecnica_pomodoro/01.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Essa técnica consistir em quebrar a rotina de foco do celebro alternando
          entre momentos concentrados e distraídos.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/tecnica_pomodoro/02.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Na técnica você deve manter o foco por 25 min e logo após dar um descanso
          e 5 minutos, ao completar esse ciclo pela quarta vez, você deve ter um
          descanso maior de 15 min e depois repetir o mesmo procedimento.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/tecnica_pomodoro/03.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Durante o tempo de foco você pode escolher qual forma de estudo você acha melhor
          (leituras, mapas mentais, resumos...) se preferir pode mudar os intervalos de
          foco e relaxamento para encaixar na sua rotina diária.
        </p>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>
