<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="showTab1()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Construção de tabelas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">

      <ion-slide>
        <img src="/assets/construcao_tabelas/01.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Esse método utiliza de tabelas para organizar os conceitos
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/construcao_tabelas/02.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Nele, os conceitos das mesmas áreas ou assunto são postos na mesma coluna,
          permitindo uma organização maior e melhor para compreender o conteúdo.
        </p>
      </ion-slide>
      <ion-slide>
        <img src="/assets/construcao_tabelas/exemplo.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          No Microsoft word é possível fazer tabelas e com designer diferenciados o
          que pode facilitar no seu entendimento.
        </p>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
