<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="showTab1()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>
      <div class="Ion-wrap-text">Mapas mentais</div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">

      <ion-slide>
        <img src="/assets/mapa_mental/mapa_mental_01.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Esse método é dedicado as pessoas que aprendem visualizendo e escrevendo
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/mapa_mental/mapa_mental_02.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Ele consiste em colocar o título do assunto no centro de
          uma folha e a partir dele puxa-se setas para palavras e
          frases chaves. Assim, o celebro começa a memorizar o mapa e
          traçar um raciocínio logico.
        </p>
      </ion-slide>

      <ion-slide>
        <h3>
          Exemplo de mapa mental
        </h3>
        <p></p>
        <img src="/assets/mapa_mental/mapa_mental_exemplo.png" id="legal" style="max-width: 100%;">
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>
