<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="showTab1()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Resumos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">

      <ion-slide>
        <img src="/assets/resumo/resumo_01.png" id="legal" style="max-width: 100%;">
        <p style="text-align: justify;">
          Esse método é recomendado para pessoas que não gostão de utilizar mapas
          mentais por não saber desenhar ou outros motivos, mas gosta de
          aprender estruturando o conteúdo.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/resumo/resumo_02.png" id="legal" style="max-width: 13rem;">
        <p style="text-align: justify;">
          Nele você reúne os pontos principais de cada assunto, o que lhe permite
          lembrar de conteúdos extensos de forma rápida. Os resumos, devem ser
          sucintos, ou seja, não precisa escrever muito. Assim é bom estudar o
          conteúdo para ter um domínio antes de começa-lo. Lembre-se grifar nomes
          ou palavras chaves sempre é importante.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/resumo/resumo_dicas.png" id="legal" style="max-width: 14rem;">
          <h3>Algumas dicas:</h3>
          <div class="ion-text-left" style="text-align: justify;">
           <ul>
              <li>Leia e releia o texto</li>
              <li>Busque conceito, indicações e palavras-chaves</li>
              <li>Escreva o texto com as suas próprias palavras</li>
              <li>Organize as ideias principais</li>
              <li>Deixe espaços para preencher conteúdos</li>
              <li>Use post-it para observações</li>
            </ul>
          </div>
      </ion-slide>
       <img src="/assets/resumo/resumo_exemplo.png">
      <ion-slide>

      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
